{{set . "title" "FlashBack"}}
{{template "header.html" .}}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <header>
        <h1 class="logo">FlashBack</h1>
        <h2 class="tag-line">Translate and Learn</h1>
      </header>

      <section class="auth-panel text-center">
        <a href="/users/new" class="auth-panel__btn btn btn-block">Sign Up</a>
        <br />
        <a href="/sessions/new" class="auth-panel__link">Login</a>
      </section>
    </div>
  </div>
</div>

{{template "footer.html" .}}
